@import url('https://github.com/github/mona-sans/tree/main/fonts/otf');

body {
    font-family: 'Mona Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #020408;
    color: #E5EDF3;
}

header {
    background-color: #020408;
    text-align: center;
    padding: 1px;
    border-bottom: 1px solid #30363E;
}

main {
    display: grid;
    place-items: center;
    height: 20vh;
}

button {
    background-color: #238636;
    color: #E5EDF3;
    padding: 7px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

input {
    padding: 7px;
    width: 70%;
    background-color: #020408;
    color: #E5EDF3;
    border-radius: 4px;
    border: 1px solid #30363E;
}

#user-info {
    margin-top: 20px;
    display: grid;
}

.user-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 20px;
    place-items: right;
}

.user-card img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: grid;
    place-items: center;


}

.user-info-details {
    flex: 1;
}

.user-info-details a{
    color: #3081F7;
    text-decoration: none;
}

.repositories-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    
}


.repository-card {
    border: 1px solid #30363E;
    border-radius: 5px;
    padding: 20px;
    box-sizing: border-box;
    background-color: #0C1117;
}

.repository-card a {
    text-decoration: none;
    color: #E5EDF3;
}

.repository-card a:hover {
    text-decoration: underline;
    color: #3081F7;
}

.languages-container {
    display: flex;
    flex-wrap: wrap;
}

.language-box {
    background-color: #101D2F;
    color: #2C7BEC;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 5px;
}

.pagination-container {
    margin-top: 20px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(10, 1fr);
}

.pagination-button {
    margin: 5px 5px;
    padding: 5px 10px;
    background-color: #21262C;
    color: white;
    border: none;
    cursor: pointer;
}

.pagination-button:hover {
    background-color: #848D97;
}

.loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    margin: 20px auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

